---
BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignEscapedNewlines: Left
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'true'
BinPackParameters: 'true'
BinPackArguments: 'false'
BreakBeforeBraces: Allman
BreakStringLiterals: 'true'
ColumnLimit: 120
Language: Cpp
ReflowComments: 'true'
PointerAlignment: 'Left'
SortIncludes: 'true'