_build/
.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
secure_bootloader/private.key
secure_bootloader/nrf52hf_armgcc/armgcc/micro_ecc_lib_nrf52.a
PlantBuddy*_DFU.zip